<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <ExcludeByFile>
            **/Migrations/**,
            **/obj/**,
            **/Persistence/AppDbContextFactory.cs,
            **/Persistence/Seeding/DatabaseSeeder.cs,
            **/Persistence/Migrations/**
          </ExcludeByFile>
          <ExcludeByAttribute>ExcludeFromCodeCoverage,GeneratedCode,CompilerGenerated</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
